{% extends "../base.html" %}
(% load static %)

{% block content %}
{% load crispy_forms_tags %}

{% block navbar %}
  
{% endblock navbar %}

{% block nav %}
  
{% endblock nav %}
<nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
  <div class="container-fluid">
    <h2>Project Management</h2>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item me-2">
          <a class="nav-link" href="{% url 'manager_register' %}">
            
            <i class="fas fa-user-circle opacity-6  me-1" aria-hidden="true"></i>
            Manager Register              
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-2" href="{% url 'developer_register' %}">                                            
            <i class="fas fa-user-circle opacity-6  me-1" aria-hidden="true"></i>   
            Developer Register
          </a>
        </li> 
      </ul>      
    </div>
  </div>
</nav>

<main class="main-content mt-0 ps">
    <section>
      <div class="page-header min-vh-100">
              
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                  <h4 class="font-weight-bolder">Sign In</h4>
                  <p class="mb-0">Enter your username and password to sign in</p>
                </div>
                <div class="card-body">
                  <form role="form" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="form-control form-control-lg">
                            {{form.username|as_crispy_field}}
                        </div>
                    </div>
            
                    <div class="mb-3">
                        <div class="form-control form-control-lg">
                            {{form.password|as_crispy_field}}
                        </div>
                    </div>
                    
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>                      
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0>                                            
                    </div>
                  
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
          background-size: cover;">
                <span class="mask bg-gradient-primary opacity-6"></span>
                <h4 class="mt-5 text-white font-weight-bolder position-relative">"Attention is the new currency"</h4>
                <p class="text-white position-relative">The more effortless the writing looks, the more effort the writer actually put into the process.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
<div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;">
</div>
</div>
<div class="ps__rail-y" style="top: 0px; right: 0px;">
<div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;">
</div>
</div>
</main>
  
{% endblock content %}